@charset "UTF-8";

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', sans-serif;
    --font3: 'Sriracha', cursive;
    --color1: #F0002B;
    --color2: #703842;
    --color3: #00AAF0;
    --color4: #386070;
    --color5: #89c802;
    --color6: #5a7c0e;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

html,
body {
    min-height: 100vh;
    background-color: none;
    font-family: var(--font1);
    user-select: none;
    overflow-x: hidden; /* Ocultar a rolagem horizontal */
}

section {
    padding: 0; /* Remover padding das seções */
    margin: 0; /* Remover margens das seções */
}

section#img1, section#img2 {
    background: url(../imagens/melhorias.jpg) center center / contain no-repeat;
    height: 350px; /* Defina uma altura fixa */
    width: 100%; /* Ocupa toda a largura */
}

/* Outros estilos aqui... */
